* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #ffffff;
  color: #222;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #111;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #111, #333);
  color: white;
  text-align: center;
}

.hero span {
  color: #00dfc4;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #00dfc4;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.section {
  padding: 70px 10%;
}

.bg-light {
  background: #f4f4f4;
}

/* Skills */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.project-card {
  background: #111;
  color: white;
  padding: 25px;
  border-radius: 16px;
  min-height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

/* Contact */
.contact-box p {
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
